/*header start*/
body{
	margin: 0;
	padding: 0;
}
header{
	padding: 10px 0;
	/*border: 1px solid red;*/
}
.container{
	width: 80%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}
.logo{
 	width: 20%;
 	/*border: 1px solid red;*/
 	float: left;
}
.logo img{
	width: 100%
}
.menu{
	width: 80%;
	/*border: 1px solid red;*/
	float: right;
	margin-top: 7px;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 700;
	color:  #535D69;
	padding: 0 10px;
	display: inline-block;
	transition: .3s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #298CE1;
}
/*header end*/

/*banner start*/
.banner{
	background-image: url('../images/business.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.b_content{
	width: 50%;
	/*border: 1px solid red;*/
	margin: 100px 0;
}
.b_content h1{
	font-family: sans-serif;
	font-size: 51px;
	color: white;
	letter-spacing: 2px;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 20px;

}
.b_content p{
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	margin-top: 0;
	margin-bottom: 15px;
}
.b_content button{
	width: 230px;
	height: 50px;
	background-color: #BE2342;
	border: none;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
}
.b_content button:focus{
	outline: 0;
}
/*banner end*/

/*how_it_works start*/
.how_it_works{
	/*border: 1px solid red;*/
	padding: 100px 0;
}
.part_one{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 70px;
	text-align: center;
	font-family: sans-serif;
	/*border: 1px solid red;*/
}
.part_one h1{
	font-size: 25px;
	color: #302A1E;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.part_one p{
	font-size: 14px;
	color: #5E5E5E;
	line-height: 20px;
	margin: 0;
}
.part_two{
	overflow: hidden;
}
.icon{
	width: 24%;
    /*border: 1px solid red;*/
    text-align: center;
    float: left;
    margin: 0 3.16%;
    padding: 0 1.5%;
}
.icon img{
	width: 40%;
}
.icon p{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #302A1E;
}
/*how_it_works end*/

/*process start*/
.process{
	overflow: hidden;
	padding: 100px;
}
.process_one{
	font-family: sans-serif;
	width: 50%;
	float: left;
	/*border: 1px solid red;*/
}
.process_one h1{
	font-size: 25px;
	color: #302A1E;
	margin: 0;
	text-transform: uppercase;
	line-height: 40px;
	margin-bottom: 10px;
}
.process_one p{
	font-size: 16px;
	color: #5E5E5E;
	margin: 0;
	line-height: 20px;
	margin-bottom: 30px;
}
.process_one button{
	font-size: 15px;
	color: white;
	width: 150px;
	height: 50px;
	background-color: #BE2342;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.process_one button:focus{
	outline: 0;
}
.process_two{
	width: 50%;
	float: right;
	/*border: 1px solid red;*/
}
.process_two img{
	width: 80%;
	float: right;
}
/*process end*/

/*feature start*/
.faeture{
}
.feature_one{
	width: 60%;
	margin: 0 auto;
	margin-bottom: 70px;
	text-align: center;
	font-family: sans-serif;
}
.feature_one h1{
	font-size: 25px;
	color: #302A1E;
	text-transform: uppercase;
	margin: 50px 0 20px;
}
.feature_one p{
	font-size: 14px;
	color: #5E5E5E;
	line-height: 20px;
	margin: 0;
}
.feature_two{
	overflow: hidden;
}
.things{
	width: 24%;
	min-height: 210px;
    /*border: 1px solid red;*/
    text-align: center;
    float: left;
    margin: 2.5% 3.16%;
    padding: 1% 1.3%;
    font-family: sans-serif;
    box-shadow: 2px 2px 2px 2px gray;
    cursor: pointer;
}
.things:hover{
	box-shadow: 6px 6px 6px 6px gray;
}
.things img{
	width: 25%;
	margin-top: 20px;
}
.things h4{
	margin: 0;
	margin-top: 25px;
}
.things p{
	font-size: 15px;
	color: #5E5E5E;
	margin: 0;
	margin-top: 10px;
	line-height: 20px;
}
/*feature end*/

/*feature button start*/
.butt{
	text-align: center;
	margin: 100px 0;
}
.butt button{
	width: 160px;
	height: 30px;
	font-family: sans-serif;
	font-size: 14px;
	color: #BE2342;
	background-color: white;
	border: none;
	box-shadow: 1px 1px 1px 1px gray;
	text-transform: uppercase;
	cursor: pointer;
	transition: .1s;
}
.butt button:focus{
	outline: 0;
}
.butt button:hover{
	box-shadow: 2px 2px 2px 2px gray;
	color: white;
	background-color: #BE2342;
}
/*feature button end*/

/*copyright start*/
.copyright{
	text-align: center;
	background-color: #736967;
	min-height: 60px;
}
.copyright p{
	padding: 25px 0;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
}
/*copyright end*/